    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" >
            <span class="sr-only">Tonggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class ="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MyFlaskApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/articles">Articles</a></li>
          </ul>
        </div>
      </div>
    </nav>