<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MyFlaskApp</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
		<script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>

	</head>
	<body>
		{% include 'includes/_lavbar.html' %}
		<div class="container">
		  {% include 'includes/_messages.html' %}
		  {% block body %}{% endblock %}
		  
	    </div>

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
		
		
         <script>
         	CKEDITOR.replace('editor');
         </script>
	</body>
</html>


