{% extends 'layout.html' %}
{% block body %}
  <h1>Login</h1>
  
  <form action= "" method="POST">
  	<div class = "form-group">
  		<lable>Username</lable>
  		<input type='text' name="username" class="form-control" value={{ request.form.username}}>
  	</div>
  	<div class='form-group'>
  		<lable>Password</lable>
  		<input type ="password" name="password" class="form-control" value={{ request.form.password}}>
  	</div>
  	<button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}
